body{
    background-color: lightgoldenrodyellow;
}

.home{
    background: linear-gradient(
        rgba(0, 17, 255, 0.1), 
        rgba(125, 180, 187, 0.4)),
        url('../imgs/background.jpg');
    background-size: cover;
}

.intro{
    color: whitesmoke;
    padding: 10% 20%;
    text-align: justify;
    font-size: 20px;
    font-weight: 200;
}

.name{
    font-size: 100px;
    font-weight: 500;
}